<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DEILY LIFE CORPORATION</title>


    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>



<body>

    <div id="wrapper" class="toggled">

        <div class="row header">
            <div class="col-2">
                <a onclick="menu_toggle()" class="btn" style="cursor: pointer;">
                    <div class="menu-icon"></div>
                    <div class="menu-icon"></div>
                    <div class="menu-icon"></div>
                </a>
            </div>
            <div class="col-10" align="right">
                <div class="dropdown" style="cursor: pointer;">
                    <img src="~/img/default.png" class="avatar" />
                    <button class="dropbtn">
                        นายวรายุทธ เทกระโทก
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <div class="dropdown-content">
                        <a class="dropdown-item" href="@Url.Action("Index", "User")"><i class="fa fa-user"></i>Profile</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "UserType")"><i class="fa fa-sign-out"></i>Log Out</a>
                    </div>

                </div>
            </div>
        </div>

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">


                <li class="logo">
                    <div align="center">
                        <a href="@Url.Action("Index", "User")">
                            <img src="~/img/placeholder.jpg" class="img-responsive" style=" padding-top: 10%" width="170px">
                        </a>
                    </div>
                </li>
                <li>
                    <div style="padding: 20px 0; text-indent: 0px;" align="center">
                        <span class="brand-line-one"></span><br>
                        <a href="@Url.Action("Index", "User")">
                            <span class="brand-line-second"> DAILY LIFE CORPORATION</span><br>
                        </a>
                    </div>
                </li>

                <li>
                    <a href="@Url.Action("Index", "UserType")">
                        <div>
                            <i class="fab fa-typo3" style="font-size:24px"></i>
                            <span style="padding:5px; font-size:15px; "> ประเภทผู้ใช้งาน </span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "User")">
                        <div>
                            <i class="fas fa-user" style="font-size:24px"></i>
                            <span style="padding:5px; font-size:15px;"> ผู้ใช้งาน </span>
                        </div>
                    </a>
                </li>


            </ul>
        </div>


        <div id="page-content-wrapper">
            @RenderBody()
        </div>

        <center>
            <footer>
                <p>&copy; @DateTime.Now.Year - DEILY LIFE CORPORATION</p>
            </footer>
        </center>
        <script>
            function menu_toggle() {
                $("#wrapper").toggleClass("toggled");
            }
        </script>


</body>

</html>