@model IEnumerable<DAILY_LIFE.Models.tbl_user_type>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_type_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_type_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.user_type_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.user_type_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.user_type_id })
        </td>
    </tr>
}

</table>
