@model IEnumerable<DAILY_LIFE.Models.tbl_user_type>

@{
    ViewBag.Title = "Index";
}

<h2>ระบบจัดการประเภทผู้ใช้งาน</h2>

<p>
    @Html.ActionLink("เพิ่มข้อมูล", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ชื่อประเภทผู้ใช้งาน
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_type_name)
        </td>
        <td>
            @Html.ActionLink("แก้ไข", "Edit", new { id=item.user_type_id }) |
            @Html.ActionLink("รายละเอียด", "Details", new { id=item.user_type_id }) |
            @Html.ActionLink("ลบ", "Delete", new { id=item.user_type_id })
        </td>
    </tr>
}

</table>
